* {
    margin: 0%;
    padding: 0%;
}

.header-container {
    height: 150vh;
}

img {
    display: block;
    max-width: 100%;
}

li {
    list-style: none;
}

body {
    padding: 15vh;
    font-family: 'Source Code Pro', monospace;
    background: url("img/background-2819026_1280.jpg") no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100vh;
}

.title {
    font-size: 36px;
    font-weight: normal;
}

.box {
    background: #eee;
    padding: 4rem;
    box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.16);
    border-radius: 50px;
    text-align: center;
}

.profile-pic {
    border-radius: 50%;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img {
    text-align: center;
}

.profile span {
    font-size: 24px;
}

.profile p {
    font-size: 18px;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.redes-sociais {
    display: flex;
    justify-content: center;
}

.redes-sociais li {
    margin-right: 1rem;
}

.menu-items {
    position: fixed;
    top: 0;
    left: 0;
    width: 50px;
    height: 50vh;
    display: flex;
    padding: 10px;
}

.menu-items ul {
    list-style-type: none;
}

.menu-items ul li a {
    margin: 15px;
    color: rgb(14, 13, 13);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 15px;
    display: block;
    text-decoration: underline overline;
    color: rgb(12, 11, 11);
}

.footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(15, 12, 13);
}