.body {
  margin: 0;
  padding: 0;
  background-color: #282c34;
  min-height: 100vh;
  color: white; 
}

.form-class {
  display: grid;
  grid-template-columns: 3fr 6fr 1fr;
  position: fixed;
  bottom: 0;
}

.button-class {
  color: #282c34;
}

